@import './index.css';

.banner-photo {
    width: 100%;
    height: 92vh;
    padding-top: 8vh;
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner-photo h1 {
    font-size: 3.3em;
    z-index: 1;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
}


.banner-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10em auto;
}

.banner-desc-photo {
    height: 420px;
    width: 380px;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    transform: translateX(-50px)
}

.banner-desc-info {
    width: 340px;

    >p {
        color: black;
        font-size: 1.2em;
        line-height: 1.6;
    }

    >* {
        margin-bottom: .5em;
        line-height: 1.2;
    }
}

.banner-cartoon {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary1);
    width: 100%;
    height: 450px;
    gap: 2em;
    margin-bottom: 8em;
}

.banner-cartoon-photo {
    height: 100%;
    width: 50vw;
    background-color: rgb(207, 194, 176);
}

.icon-text {
    text-align: left;
    align-self: center;
    font-size: larger;
    letter-spacing: 2px;
    width: 420px;
    display: flex;
    align-items: center;
    grid-template-columns: 4fr auto;
    /* Adjusts to have the first child take two fractions of the space and the rest to auto-adjust */
}

.icon-text img {
    margin-right: 2em;
}


.margin-up-down {
    width: 50vw;
    display: flex;
    flex-direction: column;

    >* {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

@media (max-width: 768px) {
    .banner-cartoon-photo {
        display: none;
    }

    .margin-up-down {
        width: 100vw;
    }

    .icon-text {
        padding: 0;
    }
}