.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgb(208, 195, 195); */
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: auto;
    gap: 10px;
}


.calculator-question-units {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 65px;
    >* {
        align-self: center;
    }
}

.calculator-qs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 20px;
    padding: 1em;
}

.calculator-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding-left: .5em;
    font-size: 12px;
}

.calculator-qq {
    font-size: 1.4em;
    width: 100%;
}

/* // */
.punto-ahorro {
    padding: 0 2em;
    width: 500px;
}

.punto-g {
    display: flex;
    flex-direction: row;
    text-align: left;
    background-color: antiquewhite;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    justify-content: center;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 8em;

    >* {
        width: 50%;
    }
}

.punto-g-banner {
    width: 50%;
    background-color: grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* // */

.slider-target {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90px;
    border: 1px solid rgb(187, 179, 179);
    margin-bottom: 2px;
    border-radius: 2px;
    padding: 0 0.1em;
}

/* // */
.bar-container-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: auto;
    align-items: flex-start;
    /* border: 1px solid black; */
}

.bar-container {
    --width-container: 400px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    width: var(--width-container);
    text-align: center;
    align-self: stretch;
    margin-bottom: 1.5em;

    .bar-title {
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        border-bottom: 2px solid black;
        font-weight: lighter;
        opacity: 0.5;
        font-size: 18px;
        margin-bottom: .5em;
        text-align: left;
        width: 100%;
    }

    .bar-24chart {
        display: flex;
        flex-direction: column;
        flex-direction: start;
        width: 100%;
    }

    .bar-label {
        font-size: 14px;
        margin-bottom: .5em;
        text-align: left;
        padding-left: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 .8em;
        display: flex;
        flex-direction: column;
    }

    .bar-title-number {
        display: flex;
        flex-direction: start;
        justify-content: center;
        font-size: 1.1em;
        color: rgb(0, 0, 0);
        background-color: #D9D9D9;
        padding: 0.8em 0.6em;
        margin: 0 5px;
        font-weight: bold;
    }

    .bar-footer {
        width: 100%;
        padding: 15px;
        font-size: 16px;
        background-color: none;
        border: 1px solid black;
        border-radius: 5px;
        margin-top: 1em;
        letter-spacing: 1px;
        word-spacing: 2px;
    }

    .bar-content {
        /* width: calc(var(--width-container) / 2); */
        /* padding-top: 5px; */
        margin: .5em .2em;
    }
}


@media (max-width: 869px) {

    .calculator-qs {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;

    }

    .calculator-mb {
        margin-bottom: 2em;
    }

    .calculator-footer {
        padding: 0 2em;
    }

    .punto-g {
        width: 70%;

        >* {
            width: 100%;
        }
    }

    .punto-ahorro {
        width: 450px;
        >* {
            width: 100%;
        }
    }

    .punto-g-banner {
        height: 300px;
    }

    .bar-container {
        --width-container: 75vw;

        .bar-content {
            width: calc(var(--width-container) / 2 - 25px);
        }
    }

    .bar-container-head {
        gap: 2em;
    }

}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    margin: 10px 0;
    border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: #ddd;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    border: 2px solid rgb(124, 124, 124);
    cursor: pointer;
    margin-top: -6px;
    /* Aligns thumb with the track */
}

input[type="range"]::before {
    content: '';
    height: 8px;
    background: #171a17;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
