.nav-bar {
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1.5em;

    >* {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2em;
        font-weight: bolder;
    }

    transition: transform 0.3s ease-in-out;
    z-index: 100;

    >*>* {
        cursor: pointer;
        padding: 6px;
        color: black;
    }

    >*>*:hover {
        border-bottom: 2px solid var(--primary);
    }

    .nav-bar-logo {
        position: fixed;
        left: 82px;
        font-size: 1.5em;
    }
}

.nav-bar.hidden {
    transform: translateY(-100%);
    /* Hide navbar when scrolling down */
}

.nav-bar.visible {
    transform: translateY(0);
    /* Show navbar when scrolling up */
}

.nav-bar-header{
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px 0;
}