.nav-bar {
    position: fixed;
    top: 0;
    height: 8vh;
    width: 100%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    font-weight: bolder;

    transition: transform 0.3s ease-in-out;
    z-index: 100;

    >* {
        cursor: pointer;
        padding: 6px;
    }

    >*:hover {
        border-bottom: 2px solid red;
    }
}

.nav-bar.hidden {
    transform: translateY(-100%);
    /* Hide navbar when scrolling down */
}

.nav-bar.visible {
    transform: translateY(0);
    /* Show navbar when scrolling up */
}